@model IEnumerable<Conference.Domain.Entities.SponsorTypes>

@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-6">
                    <div class="item">
                        <div class="details">
                            <a asp-controller="sponsortype" asp-action="details" asp-route-id="@item.Id">@item.Id @item.Name</a>
                            <span class="position">@item.Id, @item.Name</span>
                        </div>
                    </div>
                    @if (item.Name == "Golden")
                    {
                        <img src="~/image/microsoft.jpg" class="photo" />
                    }


                </div>
            }
        </div>

    </div>